form(method="POST",action="https://money.yandex.ru/eshop.xml")
  input(type="hidden",name="shopId",value=yakassa.shopId)
  input(type="hidden",name="scid",value=yakassa.scid)
  input(type="hidden",name="sum",value=amount)
  input(type="hidden",name="orderNumber",value=number)
  input(type="hidden",name="cps_email",value=email)
  input(type="hidden",name="customerNumber",value=customerNumber)
  input(type="hidden",name="shopSuccessURL",value=shopSuccessURL)
  input(type="hidden",name="shopFailURL",value=shopFailURL)
  input(type="hidden",name="paymentType",value="AC")
  input(type="submit",value="Оплатить")
